body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.visibility {
    display: none;
}

#greeting-text {
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0px;
}

#btn-show-form-add {
    color: white;
    text-decoration: none;
}

.active{
    color: red;
}
 .pagination a {
     margin-left: 5px;
     margin-right: 5px;
 }

table thead th[data-column-name="name"],
table thead th[data-column-name="email"],
table thead th[data-column-name="date"]
{
    cursor: pointer;
}

.btn-del-user,
.btn-edit-user{
    color: black;
}